akka {
    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    }
    remote {
        helios.tcp {
            port = 8080 // User 0 to get a random port.
            hostname = localhost
        }
    }
}